
body,p
{
	color : green;
    text-align: justify;
    font-size: 20px;
	line-height : 24px;
}
ul
{
	width: 18%;
	margin: auto;
}
img 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}	
h1
{
	text-align : center;
}


